@page "/login"
@inject NavigationManager _Navigation
<div>
   <EditForm Model="login" OnValidSubmit="LoginUser">
    <h2>Please login</h2>
    <DataAnnotationsValidator/>
    
    <div>
        <label for="email">Email Address</label>
        <InputText id="email" @bind-Value="login.Email"></InputText>
        <ValidationMessage style="color:red ;" For="@(()=>login.Email)"></ValidationMessage>
    </div>
    <div>
        <label for="password">Password</label>
        <InputText id="password" type="password" aria-placeholder="password" @bind-Value="login.Password" ></InputText>
        <ValidationMessage style="color:red ;" For="@(()=>login.Password)"></ValidationMessage>
    </div>
    <button type="submit">Login</button>
    <div class="regNav">
        <span>Don't have an account? </span> <li @onclick="GoToRegister" class="goToRegister">Create account</li>

    </div>
   </EditForm>

</div> 

@code {
    public LoginUser login =new LoginUser();

    public void LoginUser(){
        _Navigation.NavigateTo("/products");

    }

    private void GoToRegister(){
        _Navigation.NavigateTo("/register");
    }

}
