@inject NavigationManager _NavigationManager

<div>
    <h1>Welcome to our shop</h1>
    <p>Search your desired product!!</p>
    <p>
        <input type="text" @onkeydown="SearchItem" @bind="SearchWord" @bind:event="oninput"
            placeholder="Search product....."   
        />
    </p>
</div>
<a href="/search/Laptop">Search items</a>

@code {
    private string SearchWord {get;set;}

    private void SearchItem(KeyboardEventArgs args){
        if(args.Key=="Enter"){
            _NavigationManager.NavigateTo($"/search/{SearchWord}");

        }

        return;

    }

}
