@page "/search/{_SearchWord}"
@using MyShopUi.Shared
@inject HttpClient _Http

<nav>
    <ol>
        <li><a href="/products">Home</a></li>
        <li>Search</li>
    </ol>
</nav>
<div>
    @if(allproducts.Count==0){
    <span>No product found!!</span>
} else{
    <h2>Result for: @_SearchWord</h2>
     
    <ProdFilter searchWord="@_SearchWord"></ProdFilter>
    <div class="container">
    @foreach(var oneprod in allproducts){

      <OneProduct oneproduct="oneprod"></OneProduct>
    }

   </div>
   }
</div>   


@code {
    [Parameter]
    public string _SearchWord {get;set;}
    [Parameter,SupplyParameterFromQuery]
    public int Price {get;set;}

    public List<Product> allproducts= new List<Product>();

        protected override async Task OnInitializedAsync()
        {
            var items= await _Http.GetFromJsonAsync<List<Product>>("Data/Products.json");
            //search from either the name or description    
            allproducts=items.Where(k=>k.Name.ToLower().Contains(_SearchWord.ToLower())
             || k.Description.ToLower().Contains(_SearchWord.ToLower())).ToList();    
        }

        protected override void OnParametersSet()
        {
            var results=new List<Func<Product,bool>>();
            if(Price !=0){
                results.Add(k => k.Price <= Price);
            }
            if(results.Any()){
                allproducts=allproducts.Where(item => results.All(filter=> filter(item))).ToList();
            }
        }

}