body{
    background: #fffafa;
}
.one{
    background: #b32121;
    /* width: 50%; */
    border: 2px solid blue;
    border-radius: 1em;
    padding: 2em;
    
 } 

.product{
    padding: 0.4em;
}

.image{
    width: 20%;
    
}

.container{
    display: flex;
}

.items{
    display: flex;
}