@page "/"
@inject HttpClient _http


<div class="one">
    <ProductSearch></ProductSearch>
   <div class="items">
    @foreach(var prod in Products){

      <OneProduct product="prod"></OneProduct>
    }

   </div>

</div>

@code{
    public List<Product> Products= new List<Product>();

        protected override async Task OnInitializedAsync()
        {
            //We call the apis
            var AllProducts= await _http.GetFromJsonAsync<List<Product>>("SampleData/Products.json");
                if(AllProducts.Any()){
                    Products=AllProducts;

                }
        } 
}
