validation-message {
    color: red;
}

input.invalid,
textarea.invalid,
select.invalid {
    border-color: red;
}

input.valid.modified,
text.valid.modified,
select.valid.modified {
    border-color: yellow;
}

.goToLogin{
    cursor: pointer;
    text-decoration: underline;
    list-style-type: none;
    padding-left: 0.4em;
}

.goToRegister{
    cursor: pointer;
    text-decoration: underline;
    list-style-type: none;
    padding-left: 0.4em;

}
.regNav,.regnav{
    display: flex;

}